<template>
    <div class="row">
        <div class="col s12">
            <ul>
                <li v-for="campaign in campaigns">
                    <router-link :to="`/campaigns/${campaign.friendlyId}`">{{ campaign.title }}</router-link>
                </li>
            </ul>
        </div>
        <router-view></router-view>
        <router-view name="dialog"></router-view>
    </div>
</template>

<script>
import campaignRepository from '../domain/campaigns/campaignRepository';

export default {
    name: 'Home',
    components: {},
    data() {
        return {
            campaigns: []
        };
    },
    async beforeMount() {
        this.campaigns = await campaignRepository.listHome();
    }
}
</script>

<style scoped>

</style>
