<template>
    <div>
        <nav>
            <div class="container nav-wrapper">
                <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                <div class="row">
                    <div class="col s1 col-brand">
                        <router-link class="brand-logo" to="/"><img src="../assets/images/logo.svg"></router-link>
                    </div>
                    <div class="col s11 hide-on-med-and-down">
                        <div>
                            <ul>
                                <li><router-link to="/campaigns/new">{{ $t('nav.createCampaign') }}</router-link></li>
                            </ul>
                        </div>
                        <ul v-if="!profile" class="right">
                            <li><router-link to="/login">{{ $t('nav.login') }}</router-link></li>
                        </ul>
                        <ul v-if="profile" class="right">
                            <li>{{ profile.displayName }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-menu">
            <li><router-link class="sidenav-close" to="/campaigns/new">{{ $t('nav.createCampaign') }}</router-link></li>
            <li><router-link class="sidenav-close" to="/login">{{ $t('nav.login') }}</router-link></li>
        </ul>
    </div>
</template>

<script>
import profileRepository from '../domain/accounts/profileRepository';

export default {
    name: 'NavBar',
    components: {},
    data() {
        return {
            profile: null
        }
    },
    async beforeMount() {
        this.profile = await profileRepository.current();
    },
    async mounted() {
        M.Sidenav.init(this.$el.querySelector('.sidenav'), {});
    }
}
</script>

<style scoped>
nav {
    background: #1c1a21;
    box-shadow: none;
    margin-bottom: 20px;
}

nav ul li a:hover, nav ul li.active {
    background: #303030;
}

.brand-logo img {
    max-height: 64px;
}

.col-brand {
    max-width: 64px;
}
</style>
