<template>
    <span>
        <i v-if="!photo && showPhoto" class="material-icons">person</i>
        <img v-if="photo && showPhoto" :src="photo" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        <strong>{{ profile.displayName }}</strong> <slot></slot>
    </span>
</template>

<script>
import { Profile } from './model/Profile';

export default {
    name: 'InlineProfile',
    props: {
        profile: {
            type: Profile,
            required: true
        },
        showPhoto: {
            type: Boolean,
            default: true
        }
    },
    computed: {
        photo() {
            return this.profile.photo && this.profile.photo.url;
        }
    }
}
</script>

<style scoped>
.material-icons {
    display: inline-flex;
    vertical-align: top;
}
</style>
