<template>
    <div class="container">
        <div class="row">
            <div class="col s12 l6 offset-l2">
                <h2>{{ $t("login.title") }}</h2>
            </div>
        </div>
        <div class="row">
            <form class="col s12 l6 offset-l2" action="/login" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="username" id="email" type="email" class="validate">
                        <label for="email">{{ $t("login.email") }}</label>
                        <span class="helper-text" data-error="wrong" data-success="right">{{ $t("login.email.tooltip") }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="password" id="password" type="password" class="validate">
                        <label for="password">{{ $t("login.password") }}</label>
                    </div>
                </div>
                <button
                    type="submit"
                    class="waves-effect waves-red btn"
                >
                    {{ $t('login.action') }}
                </button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Login',
    components: {}
}
</script>
