<template>
    <div class="section right-align">
        <button
            class="waves-effect waves-red btn"
            @click="campaign.nextStep()"
        >
            {{ $t('createCampaign.action.next') }}
        </button>
    </div>
</template>

<script>
import { DraftCampaign } from '../model/DraftCampaign'

/** Button that moves to the next step in the Create Campaign wizard.
 *
 * It validates the current step before moving, and it remains in the current
 * step if the validation didn't pass.
 */
export default {
    name: 'ButtonNext',
    props: {
        campaign: {
            type: DraftCampaign,
            required: true
        }
    }
}
</script>
