<template>
    <a class="btn-floating btn-large waves-effect waves-red"
       v-bind:class="stepClassObject"
       @click="showStep"
    >
        <i class="material-icons" v-if="currentStep > step.position">check</i>
        {{ step.position + 1 }}
    </a>
</template>

<script>
import { DraftCampaign } from '../model/DraftCampaign'

/** Represents a Step button in the Create Campaign wizard.
 */
export default {
    name: 'ButtonStep',
    props: {
        createCampaign: {
            type: DraftCampaign,
            required: true
        },
        step: {
            type: Object,
            required: true
        }
    },
    computed: {
        currentStep() {
            return this.createCampaign.step.position;
        },
        stepClassObject() {
            return {
                'lighten-3': this.currentStep === this.step.position,
                'lighten-1': this.currentStep !== this.step.position
            };
        }
    },
    methods: {
        showStep() {
            this.createCampaign.goToStep(this.step.position);
        }
    }
}
</script>
