<template>
    <div>
        <h2>{{ $t('createCampaign.selectMedia.title') }}</h2>
        <p>{{ $t('createCampaign.selectMedia.description') }}</p>
        <div class="drop-container card-panel center-align">
            <a class="btn-floating btn-large waves-effect waves-light red remove-media"
               v-if="mediaObject"
               @click="removeMedia"
            >
                <i class="material-icons">clear</i>
            </a>
            <a class="btn-floating btn-large waves-effect waves-light red edit-image"
               v-if="!editMode && mediaObject && mediaObject.baseType === 'image'"
               @click="editImage"
            >
                <i class="material-icons">edit</i>
            </a>
            <a class="btn-floating btn-large waves-effect waves-light red edit-image"
               v-if="editMode && mediaObject && mediaObject.baseType === 'image'"
               @click="saveImage"
            >
                <i class="material-icons">save</i>
            </a>
            <div v-if="!mediaObject">
                <p>
                    <i class="material-icons medium">cloud_upload</i>
                </p>
                <label class="waves-effect waves-light btn blue-grey lighten-2">
                    <input type="file"
                       accept="image/*,video/*"
                       @change="displayMedia">
                    {{ $t('createCampaign.selectMedia.upload') }}
                </label>
            </div>
            <div class="media-object" v-if="mediaObject">
                <img id="imageObject" v-if="mediaObject.baseType === 'image'" v-bind:src="mediaObject.url">
                <div
                    v-if="editMode && mediaObject.baseType === 'image'"
                    class="toolbar"
                >
                    <button data-action="move" title="Move" @click="cropMode">
                        <span class="fa fa-arrows"></span>
                    </button>
                    <button data-action="crop" title="Crop" @click="cropMode">
                        <span class="fa fa-crop"></span>
                    </button>
                    <button title="Zoom In" @click="zoomIn">
                        <span class="fa fa-search-plus"></span>
                    </button>
                    <button title="Zoom Out" @click="zoomOut">
                        <span class="fa fa-search-minus"></span>
                    </button>
                    <button title="Rotate Left" @click="rotateLeft">
                        <span class="fa fa-rotate-left"></span>
                    </button>
                    <button title="Rotate Right (R)" @click="rotateRight">
                        <span class="fa fa-rotate-right"></span>
                    </button>
                    <button title="Flip Horizontal" @click="flipHorizontal">
                        <span class="fa fa-arrows-h"></span>
                    </button>
                    <button title="Flip Vertical" @click="flipVertical">
                        <span class="fa fa-arrows-v"></span>
                    </button>
                </div>
                <video v-if="mediaObject.baseType === 'video'" controls>
                    <source v-bind:src="mediaObject.url" v-bind:type="mediaObject.type">
                </video>
            </div>
        </div>
        <button-next :campaign="campaign" />
    </div>
</template>

<script>
import { DraftCampaign } from '../model/DraftCampaign'
import ButtonNext from './ButtonNext';
import Cropper from 'cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
    name: 'SelectMedia',
    components: { ButtonNext },
    props: {
        campaign: {
            type: DraftCampaign,
            required: true
        }
    },
    data() {
      return {
          editMode: false,
          cropper: null
      };
    },
    computed: {
        mediaObject() {
            return this.campaign.media;
        }
    },
    methods: {
        displayMedia({ target }) {
            this.campaign.updateMedia(target.files[0]);
        },
        removeMedia() {
            if (this.cropper) {
                this.cropper.destroy();
            }
            this.campaign.removeMedia();
            this.cropper = null;
            this.editMode = false;
        },
        editImage() {
            if (this.editMode) {
                return;
            }
            this.attachCropper();
            this.editMode = true;
        },
        async saveImage() {
            const { cropper, campaign } = this;
            const component = this;
            return new Promise((resolve => {
                if (cropper) {
                    cropper.getCroppedCanvas(campaign.media.type === 'image/png' ? {} : {
                        fillColor: '#fff',
                    }).toBlob(blob => {
                        const name = campaign.media.name;
                        component.removeMedia();
                        campaign.updateMedia(
                            new File([blob], name, { type: blob.type })
                        );
                        resolve();
                    });
                } else {
                    component.editMode = false;
                    resolve();
                }
            }))
        },
        attachCropper() {
            const component = this;
            // Waits until Vue re-renders the view.
            setImmediate(function () {
                const image = component.$el.querySelector('#imageObject');
                component.cropper = new Cropper(image, {
                    aspectRatio: 16 / 9
                });
            });
        },
        cropMode({ target }) {
            this.cropper.setDragMode(target.getAttribute('data-action'));
        },
        zoomIn() {
            this.cropper.zoom(0.1);
        },
        zoomOut() {
            this.cropper.zoom(-0.1);
        },
        rotateLeft() {
            this.cropper.rotate(-90);
        },
        rotateRight() {
            this.cropper.rotate(90);
        },
        flipHorizontal() {
            const { cropper } = this;
            cropper.scaleX(-cropper.getData().scaleX || -1);
        },
        flipVertical() {
            const { cropper } = this;
            cropper.scaleY(-cropper.getData().scaleY || -1);
        }
    }
}
</script>

<style scoped>
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* 1 */
    clip-path: inset(50%);
    border: 0;
}

.drop-container {
    border: 2px dashed #dbd9db;
    box-shadow: none;
    position: relative;
}

.drop-container .remove-media {
    position: absolute;
    right: 0;
}

.drop-container .edit-image {
    position: absolute;
    right: 0;
    top: 90px;
}

.drop-container .material-icons {
    color: #cfd8dc;
}

.media-object img {
    display: inline-block;
    max-height: 350px;
    max-width: 100%;
}

.media-object video {
    max-height: 350px;
    max-width: 100%;
}

.media-object .toolbar {
    background-color: rgba(0, 0, 0, .5);
    bottom: 1rem;
    color: #fff;
    height: 2rem;
    left: 50%;
    margin-left: -8rem;
    position: absolute;
    width: 16rem;
    z-index: 2015;
}

.media-object .toolbar button {
    background-color: transparent;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: .875rem;
    height: 2rem;
    text-align: center;
    width: 2rem;
    &:focus {
         outline: none;
     }
    &:hover {
         background-color: #0074d9;
         color: #fff;
    }
}
</style>