<template>
    <div class="input-field">
        <h2>{{ $t('createCampaign.selectTitle.title') }}</h2>
        <p>{{ $t('createCampaign.selectTitle.description') }}</p>
        <input name="title" type="text" v-model="createCampaign.title" class="validate" required>
        <span class="helper-text"
          :data-error="$t('createCampaign.selectTitle.field.error.required')"
          :data-success="$t('createCampaign.field.success')"
        >
            {{ $t('createCampaign.selectTitle.tooltip') }}
        </span>
        <button-next :campaign="createCampaign" />
    </div>
</template>

<script>
import { DraftCampaign } from '../model/DraftCampaign'
import ButtonNext from './ButtonNext';

export default {
    name: 'SelectTitle',
    components: { ButtonNext },
    props: {
        createCampaign: {
            type: DraftCampaign,
            required: true
        }
    },
    mounted() {
        this.$el.querySelector('input[name=title]').focus();
    }
}
</script>
