<template>
    <div class="input-field">
        <h2>{{ $t('createCampaign.selectTargets.title') }}</h2>
        <p>{{ $t('createCampaign.selectTargets.description') }}</p>

        <div id="targets-chips" class="chips">
            <input
                name="targets"
                type="text"
                class="input"
                required
                v-on:keyup="searchTargets"
                v-bind:class="{ validate: mustValidate }"
            >
            <span class="helper-text"
                  :data-error="$t('createCampaign.selectTargets.field.error.required')"
                  :data-success="$t('createCampaign.field.success')"
            >
                {{ $t('createCampaign.selectTargets.tooltip') }}
            </span>
        </div>
        <button-next :campaign="createCampaign" />
    </div>
</template>

<script>
import { DraftCampaign } from '../model/DraftCampaign'
import ButtonNext from './ButtonNext';

export default {
    name: 'SelectTargets',
    components: { ButtonNext },
    props: {
        createCampaign: {
            type: DraftCampaign,
            required: true
        }
    },
    data() {
      return {
          mustValidate: true
      };
    },
    mounted() {
        const chips = M.Chips.init(this.$el.querySelector('#targets-chips'), {
            autocompleteOptions: {
                data: {}
            },
            onChipAdd: this.updateTargets,
            onChipDelete: this.updateTargets
        });
        // We add chips by using the addChip instance method because the _data_
        // option in the initialization breaks the form input helper text.
        this.createCampaign.selectedTargets.forEach(target => {
            chips.addChip({
                tag: target.name,
                image: target.photo
            });
        });

        this.$el.querySelector('input[name=targets]').focus();
        this.mustValidate = this.createCampaign.selectedTargets.length === 0;
    },
    methods: {
        /** Search for targets by using the input value as criteria.
         * This is used to populate the autocomplete.
         * @param {Event} event Current event.
         */
        async searchTargets(event) {
            const input = event.target;
            const chips = M.Chips.getInstance(this.$el.querySelector('#targets-chips'));
            const results = await this.createCampaign.searchTargets(input.value);
            const autocompleteData = results.reduce((data, target) => {
                data[target.name] = target.photo;
                return data;
            }, {});
            chips.autocomplete.updateData(autocompleteData);
        },
        /** Updates targets in the CreateCampaign view model with the selected targets in the chips.
         */
        updateTargets() {
            const chips = M.Chips.getInstance(this.$el.querySelector('#targets-chips'));
            this.createCampaign.updateTargets(chips.chipsData.map(chipData => chipData.tag));
            this.mustValidate = this.createCampaign.selectedTargets.length === 0;
        }
    }
}
</script>
