<template>
    <div class="input-field">
        <h2>{{ $t('createCampaign.writeDescription.title') }}</h2>
        <p>{{ $t('createCampaign.writeDescription.description') }}</p>

        <editor
            ref="editor"
            :options="editorOptions"
            height="300px"
            initialEditType="wysiwyg"
            previewStyle="vertical"
            @change="onEditorChange"
        />

        <button-next :campaign="createCampaign" />

        <div
            class="help-card card-panel teal blue-grey lighten-4"
            v-markdown="$t('createCampaign.writeDescription.help')">
        </div>
    </div>
</template>

<script>
import 'codemirror/lib/codemirror.css';
import '@toast-ui/editor/dist/toastui-editor.css';
import { DraftCampaign } from '../model/DraftCampaign'
import { Editor } from '@toast-ui/vue-editor';
import ButtonNext from './ButtonNext';

export default {
    name: 'WriteDescription',
    components: { Editor, ButtonNext },
    props: {
        createCampaign: {
            type: DraftCampaign,
            required: true
        }
    },
    data() {
        return {
            editorOptions: {
                height: this.height,
                initialEditType: this.initialEditType,
                previewStyle: 'tab',
                usageStatistics: false,
                language: this.$i18n.locale
            }
        };
    },
    mounted() {
        this.$refs.editor.invoke('setHtml', [this.createCampaign.description]);
    },
    methods: {
        onEditorChange() {
            this.createCampaign.description = this.$refs.editor.invoke('getHtml');
        }
    }
}
</script>
