<template>
    <div class="media-object">
        <img v-if="media.baseType === 'image'" v-bind:src="media.url">
        <video v-if="media.baseType === 'video'" controls>
            <source v-bind:src="media.url" v-bind:type="media.type">
        </video>
    </div>
</template>

<script>
import { MediaObject } from './model/MediaObject';

export default {
    name: 'MediaViewer',
    props: {
        media: {
            type: MediaObject,
            required: true
        }
    }
}
</script>

<style scoped>
.media-object img {
    display: block;
    max-height: 450px;
    max-width: 100%;
}

.media-object video {
    max-height: 350px;
    max-width: 100%;
}
</style>
