<template>
    <div class="section">
        <strong>{{ $tc('viewCampaign.endorsement.total', campaign.support.total, { total: campaign.support.total }) }}</strong>
        <ul>
            <li v-for="endorsement in campaign.support.endorsements">
                <inline-profile :profile="endorsement.profile">
                    {{ $t(`viewCampaign.endorsement.${endorsement.type.toLowerCase()}`) }}
                </inline-profile>
            </li>
        </ul>
        <div class="divider"></div>
        <div class="section" v-bind:class="{ 'fixed-action-btn': isMobile }">
            <button
                class="waves-effect waves-red btn apply"
            >
                {{ $t('viewCampaign.endorsement.apply') }}
            </button>
        </div>
    </div>
</template>

<script>
import { Campaign } from '../../campaigns/model/Campaign';
import InlineProfile from '../../accounts/InlineProfile';
import { isMobile } from "../../../modules/isMobile";

export default {
    name: 'Endorsements',
    props: {
        campaign: {
            type: Campaign,
            required: true
        }
    },
    components: { InlineProfile },
    computed: {
        isMobile
    }
}
</script>

<style scoped>
.btn.apply {
    width: 100%;
}

.fixed-action-btn {
    background: #e0e0e0;
    bottom: 0;
    padding: 10px 20px;
    right: 0;
    width: 100%;
}

.fixed-action-btn button {
    height: 60px;
}
</style>
