<template>
    <div>
        <nav-bar />
        <router-view></router-view>
    </div>
</template>

<script>
import NavBar from './components/NavBar'

export default {
    name: 'App',
    components: { NavBar }
}
</script>

<style>
.btn {
    box-shadow: none !important;
}

h2 {
    font-size: 2.56rem !important;
}

.help-card h3 {
    font-size: 1.22rem;
    font-weight: bold;
    margin: 0;
}

.waves-effect.waves-red {
    background-color: rgb(239, 83, 80);
}

.waves-effect.waves-red.lighten-3 {
    background-color: #ef9a9a;
}

.waves-effect.waves-red:hover {
    background-color: rgba(239, 83, 80, 0.65) !important;
}

.waves-effect.waves-red:focus {
    background-color: #ef5350;
}
</style>
