<template>
    <div class="container">
        <div class="row">
            <div class="col s12 l8 offset-l2">
                <div class="steps center-align" v-if="draft">
                    <button-step :create-campaign="draft" :step="Steps.SELECT_TITLE"/>
                    <button-step :create-campaign="draft" :step="Steps.SELECT_TARGETS"/>
                    <button-step :create-campaign="draft" :step="Steps.WRITE_DESCRIPTION"/>
                    <button-step :create-campaign="draft" :step="Steps.SELECT_MEDIA"/>
                </div>

                <router-view></router-view>

                <select-title
                    v-if="draft && draft.step.view === 'selectTitle'"
                    :create-campaign="draft"
                />
                <select-targets
                    v-if="draft && draft.step.view === 'selectTargets'"
                    :create-campaign="draft"
                />
                <write-description
                    v-if="draft && draft.step.view === 'writeDescription'"
                    :create-campaign="draft"
                />
                <select-media
                    v-if="draft && draft.step.view === 'selectMedia'"
                    :campaign="draft"
                />
            </div>
        </div>
    </div>
</template>

<script>
import SelectTitle from './components/SelectTitle';
import SelectTargets from './components/SelectTargets';
import WriteDescription from './components/WriteDescription';
import SelectMedia from './components/SelectMedia';
import { Steps } from './model/DraftCampaign'
import ButtonStep from './components/ButtonStep';
import campaignRepository from './campaignRepository';

/** Create campaign wizard main view.
 */
export default {
    name: 'CreateCampaign',
    components: { ButtonStep, SelectTitle, SelectTargets, WriteDescription, SelectMedia },
    async destroyed() {
        await this.draft.syncMedia();
        await campaignRepository.saveDraft(this.draft);
    },
    data() {
        return {
            draft: null,
            Steps
        };
    },
    async beforeMount() {
        this.draft = await campaignRepository.currentDraft();
    },
    computed: {
        currentStep() {
            return this.draft.step.view;
        }
    }
}
</script>

<style scoped>
.steps a {
    margin-right: 25px;
}

.s12 .steps a {
    margin-right: 10px;
}
</style>