<template>
    <div class="container">
        <div class="row">
            <div class="col s12 l10 offset-l2 center-align">
                <h1>{{ campaign.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l7 offset-l1">
                <media-viewer :media="campaign.media"></media-viewer>
                <div v-if="!isMobile" class="targeting-message">
                    <inline-profile :profile="campaign.coordinator">
                        {{ $t('viewCampaign.targetingMessage') }}
                        <inline-profile :show-photo="false" :profile="campaign.targets[0]"></inline-profile>
                    </inline-profile>
                </div>
                <endorsements v-if="isMobile" :campaign="campaign"></endorsements>
                <div class="description" v-markdown="campaign.description">
                </div>
            </div>
            <div v-if="!isMobile" class="col s4 l3">
                <endorsements :campaign="campaign"></endorsements>
            </div>
        </div>
    </div>
</template>

<script>
import MediaViewer from '../media/MediaViewer';
import InlineProfile from '../accounts/InlineProfile';
import Endorsements from '../endorsements/components/Endorsements';
import { isMobile } from "../../modules/isMobile";
import campaignRepository from './campaignRepository';

export default {
    name: 'ViewCampaign',
    components: { MediaViewer, InlineProfile, Endorsements },
    computed: {
        isMobile
    },
    props: ['campaignId'],
    async created() {
        this.campaign = await campaignRepository.getById(this.$props.campaignId);
    },
    data() {
        return {
            campaign: {}
        };
    }
}
</script>

<style scoped>
h1 {
    font-size: 3.2rem;
    font-weight: bold;
}

.targeting-message {
    margin: 15px 0;
}

.description {
    font-size: 1.3rem;
    font-weight: 0;
}
</style>
